body {
    margin: 0;
    padding: 0;
    background-color: #336699;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    height: 200%;
    background-color: white;
}

.qsm{
    font-family: 'Roboto slab', serif;
    text-align: justify;
    margin: 0 20vh;
    line-height: 1.7em;
    color: #666666;
    font-size: 16px;
    
}

#partenaire {
    display: flex;
    flex-direction: row;
    margin: 10vh 20vh;
    justify-content:space-between;
    flex-wrap: wrap;
}

.photo{
    max-width: auto;
    max-height: 80px;
    height: auto;
    width: auto;
}

/* **************** H E A D E R ****************** */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100%;
}

.lien {
    text-decoration: none;
    color: #129fe0;
}

a {
    text-decoration: none;
    color: #666666;
    transition: color 1s;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 17px;
}

.headerul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
}

.headeril {
    color: #666666;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    
}

a:hover {
    color: rgb(197, 193, 193);
}

a:focus {
    color: rgb(197, 193, 193);
}

#logo {
    padding: 10px;
    width: 400px;
    margin-left: 30px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #336699;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    color: #336699;
    font-family: 'Roboto Slab', serif;
}

#qualite {
    display: flex;
    margin: 0 20vh;
    justify-content: space-between;
    margin-bottom: 5%;

}

#qualite .qsm {
    margin-right: 0;
}

.april
 {
    font-family: 'Roboto slab', serif;
    text-align: justify;
    line-height: 1.7em;
    color: #666666;
    font-size: 16px;
    width: 60%;
}

.qualiopi {
    font-family: 'Roboto slab', serif;
    text-align: justify;
    line-height: 1.7em;
    color: #666666;
    font-size: 16px;
    width: 60%;


}

#video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10vh 20vh;
    flex-direction: row;
}

.videor {
    padding-bottom:4%;
}

footer {
    background-color: magenta;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer1 {
    display: flex;
    width: 25%;
    height: 50vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.plateforme {
    max-width: auto;
    max-height: 70%;
    height: auto;
    width: auto;
}

.footer2 {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer3 {
    display: flex;
    flex-direction: column;
    width: 25%;
}


.footer4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

.footeril {
    list-style: none;
    font-family: 'Roboto slab', serif;
    text-align: justify;
    line-height: 3em;
    color: white;
    font-size: 16px;
}

.footeriltitre{
    list-style: none;
    font-family: 'Roboto slab', serif;
    text-align: justify;
    line-height: 3em;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.bensavoirplus {
    text-align: center;
    width: 40%;
    background-color: #ffca4b;
    border-radius: 30px 30px 30px 30px;
    padding: 2%;
    color: white;
    transition: width 0.5s, box-shadow 0.5s;
}

.bensavoirplus:hover {
    width: 45%;
    box-shadow: 2px 2px 5px lightgrey;
}
